<p id="notice"><%= notice %></p>

<h1>School Modules</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_modules.each do |school_module| %>
      <tr>
        <td><%= school_module.code %></td>
        <td><%= school_module.name %></td>
        <td><%= link_to 'Show', school_module %></td>
        <td><%= link_to 'Edit', edit_school_module_path(school_module) %></td>
        <td><%= link_to 'Destroy', school_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School Module', new_school_module_path %>
